<footer style="margin-top: 30px;">
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <p style="color: white">879876432</p>
          <p style="color: white">GeniusTech.info@gmail.com</p>
          <p style="color: white">100, Panchkula sector 23</p>
          <p style="color: white">Panchkula, Haryana ,134109</p>
        </div>
        <div class="col-md-4">
          <p style="color: white">879876432</p>
          <p style="color: white">GeniusTech.info@gmail.com</p>
          <p style="color: white">100,Panchkula sector 23</p>
          <p style="color: white">Panchkula,Haryana ,134109</p>
        </div>
        <hr>
        <div class="col-md-4">
          <p style="color: white">879876432</p>
          <p style="color: white">GeniusTech.info@gmail.com</p>
          <p style="color: white">100,Panchkula sector 23</p>
          <p style="color: white">Panchkula, Haryana ,134109</p>
        </div>
        <hr>
        <div class="col-12">
          <hr class="light-100">
          <h2 class="footer-text" style="color: black">&copy;Just Call </h2>
        </div>
      </div>
    </div>
  
  
  </footer>